<h3>Sign up!</h3>
<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |msg|  %>
      <li><%= msg %></li>
    <% end %>
  </ol>
<% end %>
<%= form_for @user do |f| %>
  <%= f.label :name, 'Name: ' %>
  <%= f.text_field :name, :required => true %>
  <%= f.label :username, 'Username: ' %>
  <%= f.text_field :username, :require => true %>
  <%= f.label :email, 'Email: ' %>
  <%= f.email_field :email, :required => true %>
  <%= f.label :password %>
  <%= f.password_field :password, :required => true %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, :required => true %>
  <%= f.label :mobile, 'Mobile: ' %>
  <%= f.email_field :mobile %>
  <%= f.label :suburb, 'Suburb: ' %>
  <%= f.email_field :suburb %>
  <%= f.label :city, 'City: ' %>
  <%= f.email_field :city %>
  <%= f.label :country, 'Country: ' %>
  <%= f.email_field :country %>
  <%= f.label :postcode, 'Postcode: ' %>
  <%= f.email_field :postcode %>
  <%= f.submit "Sign Up" %>
<% end %>
