<h3>All items</h3>
<!-- loops through all the  -->
<%# admin page view %>
<% if @current_user.present? && @current_user.admin == true %>
  <% @items.each do |item| %>
    <h4><%=  link_to item.name, item_path(item) %></h4>
    <button class = "small-btn"><%= link_to 'Edit Item', edit_item_path(item) %></button>
    <button class = "small-btn"><%= link_to 'Remove Item', item_path(item.id), :method => 'delete', :data => {:confirm => 'Are you sure you want to remove this item?'}%></button>
    <br>
    <br>
    <br>
  <% end %>
  <button><%= link_to 'Add NEW Item', new_item_path %></button>
  <%# user page view %>
<% else %>
  <% @items.each do |item| %>
    <h4><%=  link_to item.name, item_path(item) %></h4>
    <% if item.image.present? %>
      <%= link_to item_path(item) do %>
        <% if item.image.start_with?('https') %>
          <%= image_tag item.image %>
        <% else %>
          <%= cl_image_tag item.image %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
