<%= link_to 'All Categories', categories_path %>
<% @categories.each do |category| %>
  <%= link_to category.name, category_path(category.id)%>
<% end %>
<h2><%= @category.name %></h2>
<% @category.items.each do |item| %>
  <h4><%= link_to item.name, item_path(item) %></h4>
  <% if item.image.present? %>
    <a href="<%= item_path(item) %>"><img src="<%= item.image %>" alt="edit" class="thumb "></a>
  <% end %>
<% end %>
